{
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "bracketSameLine": true,
  "singleQuote": false,
  "trailingComma":"es5",
  "endOfLine": "lf",
  "tabWidth": 4,
  "htmlWhitespaceSensitivity": "css",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "plugins": [
      "prettier-plugin-svelte",
      "prettier-plugin-tailwindcss"
  ]
}