{
    "bracketSameLine": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "singleQuote": true,
    "semi": false,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": false,
    "svelteSortOrder": "options-styles-scripts-markup",
    "svelteStrictMode": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
