@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'satoshi.css';

/* * { border: 0.1px solid red; } */

@layer base {
    body {
        font-family: 'Satoshi-Medium';
        @apply m-0 overflow-x-hidden text-sm leading-relaxed;
    }

    .font-semibold {
        font-family: 'Satoshi-Bold' !important;
    }

    .font-bold {
        font-family: 'Satoshi-Black' !important;
    }

    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 10%;
        --secondary-foreground: 0 0% 98%;

        --secondary-dark: 240 3.7% 7%;
        --secondary-dark-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 255 100% 100%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 10%;
        --secondary-foreground: 0 0% 98%;

        --secondary-dark: 240 3.7% 7%;
        --secondary-dark-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 255 100% 100%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .checkerboard {
        background: repeating-conic-gradient(#09090b 0% 25%, transparent 0% 50%)
            50% / 20px 20px;
    }
}
