body {
    margin: 0;
    font-family: "Sofia Sans", -apple-system, BlinkMacSystemFont;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
}

.sigfont {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #6366f1 #1f2937;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1f2937;
}
::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 8px;
}

.blackbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popupcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.previewImg {
    max-height: 128px;
    max-width: 128px;
}

.rtl {
    direction: rtl;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #6366f1;
}

::selection {
    color: rgb(255, 255, 255);
    background: #6366f1;
}
