@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        @apply bg-main-600;
    }

    body {
        font-family: 'Satoshi', sans-serif;
        @apply m-0 overflow-x-hidden text-sm leading-relaxed text-[#333];
    }

    a {
        @apply text-current;
    }

    .btn {
        @apply rounded-md bg-accent-300 p-1 text-white transition-colors duration-150 hover:bg-accent-200 focus:bg-accent-200;
    }

    @screen sm {
        body {
            @apply text-base;
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply rounded-full bg-main-300/50;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-accent-500;
    }

    ::-moz-selection {
        @apply bg-accent-100 bg-opacity-20 text-white;
    }

    ::selection {
        @apply bg-accent-100 bg-opacity-20 text-white;
    }

    .rtl {
        direction: rtl;
    }
}

#nprogress {
    @apply pointer-events-none;
}

#nprogress .bar {
    @apply fixed left-0 top-0 z-[99] h-[3px] w-full rounded-md bg-accent-300;
}
