@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        @apply bg-main-400;
    }

    @font-face {
        font-family: 'Comic Sans TTF';
        src: url('/comic-sans-ms.ttf') format('truetype');
    }

    body {
        /* font-family:
            'Sofia Sans',
            -apple-system,
            BlinkMacSystemFont; */
            /* font-family: 'Comic Sans MS', sans-serif; */
            font-family: 'Comic Sans TTF', sans-serif;
        @apply m-0 overflow-x-hidden text-sm leading-relaxed text-[#333];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply m-0 mb-2 font-normal leading-tight;
    }

    h1 {
        @apply text-2xl;
    }

    a {
        @apply text-current;
    }

    .btn {
        @apply rounded-md bg-accent-300 p-1 text-white transition-colors duration-150 hover:bg-accent-200 focus:bg-accent-200;
    }

    @screen sm {
        body {
            @apply text-base;
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply rounded-full bg-main-300/50;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-accent-500;
    }

    ::-moz-selection {
        @apply bg-accent-500 text-white;
    }

    ::selection {
        @apply bg-accent-500 text-white;
    }

    .rtl {
        direction: rtl;
    }
}

/* body {
    margin: 0;
    font-family: 'Sofia Sans', -apple-system, BlinkMacSystemFont;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
}

.sigfont {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 8px;
}

.blackbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popupcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.previewImg {
    max-height: 128px;
    max-width: 128px;
}

.rtl {
    direction: rtl;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #6366f1;
}

::selection {
    color: rgb(255, 255, 255);
    background: #6366f1;
} */
